.container {
  width: 100%;
  /* max-width: 1000px; */
}

.container:nth-child(odd) {
  background: #ed0b0b;
}

.listBox {
  display: flex;
}

.dateBox {
  display: flex;
  flex: 1 1 20%;
  flex-direction: column;
  background: black;
  align-items: center;
  justify-content: center;
  /* line-height: 0.2rem; */
}
/* .dateBox:nth-child(even) {
  background: yellow;
} */

.contents {
  flex: 1 1 80%;
}


.day {
  color: #d1d1d1;
  padding-top: 0.5em;
}

.date {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5em;
}

/* .my-modal-custom-class {} */
