.container {
  width: 40em;
  height: 60em;
  background: #b71414;
  padding: 1.5em; 
  color: white;
  text-align: center;
  box-shadow:  20px 20px 60px #cdcdcd,
             -20px -20px 60px #ffffff;
  position: relative;
}

.h1Title {
  font-size: 2rem;
  margin-bottom: 0.3em;
}

.cancelButton {
  width: 4em;
  height: 4em;
  background: #b71414;
  outline: none;
  border: none;
  position: absolute;
  top: 1em;
  right: 0.5em;
}

.cancelImg {
  color: white;
  height: 90%;
  padding: 0.5em;
}
